# CONFIG_SYS_NS16550 is not set
# CONFIG_XILINX_UARTLITE is not set
# CONFIG_CMD_GPIO is not set
# CONFIG_XILINX_SPI is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_MTD_NOR_FLASH is not set
# CONFIG_ZYNQ_QSPI is not set
# CONFIG_SF_DUAL_FLASH is not set
# CONFIG_SPI_FLASH_SST is not set
# CONFIG_ZYNQ_SPI is not set
# CONFIG_CMD_NAND is not set
# CONFIG_NAND is not set
# CONFIG_NAND_ARASAN is not set
# CONFIG_CMD_NAND_LOCK_UNLOCK is not set
# CONFIG_XILINX_AXIEMAC is not set
# CONFIG_PHY_XILINX is not set
# CONFIG_XILINX_EMACLITE is not set
# CONFIG_MMC is not set
# CONFIG_DM_MMC is not set
# CONFIG_MMC_SDHCI_ZYNQ is not set
# CONFIG_CMD_MMC is not set
# CONFIG_MMC_SDHCI is not set
# CONFIG_CMD_EXT2 is not set
# CONFIG_CMD_EXT4 is not set
# CONFIG_CMD_EXT4_WRITE is not set
# CONFIG_CMD_FAT is not set
# CONFIG_DOS_PARTITION is not set
# CONFIG_FAT_WRITE is not set
# CONFIG_SATA_CEVA is not set
# CONFIG_DM_SCSI is not set
# CONFIG_AHCI is not set
# CONFIG_SCSI is not set
# CONFIG_CMD_SCSI is not set
# CONFIG_SCSI_AHCI is not set
# CONFIG_ZYNQ_I2C1 is not set
# CONFIG_ZYNQMP_USB is not set
# CONFIG_USB is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_DFU is not set
# CONFIG_CMD_THOR_DOWNLOAD is not set
# CONFIG_USB_XHCI_HCD is not set
# CONFIG_USB_XHCI_DWC3 is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_USB_GADGET is not set
# CONFIG_USB_GADGET_DOWNLOAD is not set
# CONFIG_USB_XHCI_ZYNQMP is not set
# CONFIG_USB_DWC3 is not set
# CONFIG_USB_DWC3_GADGET is not set
# CONFIG_USB_DWC3_GENERIC is not set
# CONFIG_USB_ULPI_VIEWPORT is not set
# CONFIG_USB_ULPI is not set
# CONFIG_DFU_RAM is not set
# CONFIG_USB_GADGET_MANUFACTURER is not set
# CONFIG_USB_GADGET_VENDOR_NUM is not set
# CONFIG_USB_GADGET_PRODUCT_NUM is not set
# CONFIG_USB_EHCI_HCD is not set
# XILINX_FSL_LINKS is not set
# CONFIG_CMD_CACHE is not set
# CONFIG_SYS_L2CACHE_OFF is not set

CONFIG_DM=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_GENERIC_BOARD=y
CONFIG_CMD_CLK=y
CONFIG_CMD_UNZIP=y
CONFIG_CMD_BOOTI=y

CONFIG_ZYNQ_SERIAL=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ZYNQ=y
CONFIG_DEBUG_UART_ANNOUNCE=y

CONFIG_DEBUG_UART_BASE=0xFF000000

CONFIG_DEBUG_UART_CLOCK=99999001

CONFIG_ZYNQ_GEM=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_PHY_TI=y
CONFIG_PHY_VITESSE=y
CONFIG_PHY_FIXED=y

CONFIG_NET=y
CONFIG_PHY_GIGE=y
CONFIG_NETDEVICES=y
CONFIG_CMD_NET=y
CONFIG_DM_ETH=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_PHYLIB=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_NFS=y
CONFIG_CMD_MII=y
CONFIG_PHY_MARVELL=y
CONFIG_PHY_REALTEK=y
CONFIG_PHY_NATSEMI=y

CONFIG_SPI_GENERIC=y

CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_DM_SPI_FLASH=y
CONFIG_DM_SPI=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MACRONIX=y

CONFIG_ZYNQ_I2C0=y

CONFIG_CMD_I2C=y

CONFIG_FPGA_ZYNQMPPL=y

CONFIG_CMD_FPGA=y
CONFIG_FPGA=y
CONFIG_FPGA_XILINX=y

# CONFIG_BOOTARGS is not set

# CONFIG_USE_BOOTARGS is not set

# CONFIG_EFI_LOADER is not set

# CONFIG_ENV_IS_IN_FLASH is not set

CONFIG_ENV_IS_IN_SPI_FLASH=y

# CONFIG_ENV_IS_NOWHERE is not set

CONFIG_BOOTDELAY=4

CONFIG_SYS_CONFIG_NAME="platform-top"

# CONFIG_SPL is not set

# CONFIG_CMD_EEPROM is not set
